<ion-header>
	<ion-toolbar>
		<ion-title class="ion-text-center">{{'welcome_to' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="banner">
		<div class="logo">
			<img src="assets/images/user_logo.png">
		</div>
	</div>
	<div class="form">
		<ion-list lines="none">
			<ion-item lines="none" >
				<ion-label mode="md" position="stacked">{{"select_country" | translate}}</ion-label>
				<ion-select mode="md"  placeholder="{{'select_country' | translate}}" cancelText="{{'cancel' | translate}}" okText="{{'done' | translate}}">
					<ion-select-option value="1">Brazil</ion-select-option>
					<ion-select-option value="2">India</ion-select-option>
					<ion-select-option value="3">Ireland</ion-select-option>
					<ion-select-option value="4">Japan</ion-select-option>
					<ion-select-option value="5">Kenya</ion-select-option>
					<ion-select-option value="6">Latvia</ion-select-option>
					<ion-select-option value="7">Martinique</ion-select-option>
					<ion-select-option value="8">Mexico</ion-select-option>
					<ion-select-option value="9">Monaco</ion-select-option>
					<ion-select-option value="10">Nepal</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item lines="none">
				<ion-label mode="md" position="stacked">{{"phone_number" | translate}}</ion-label>
				<ion-input mode="md" type="number" placeholder="{{'enter_phone_number' | translate}}"></ion-input>
			</ion-item>
		</ion-list>
	</div>
	<ion-button size="large" expand="full" class="btn" (click)="sign_up()">{{'continue' | translate}}</ion-button>
	<p class="ion-text-center">{{"we_ll_send_otp_for_vefification" | translate}}</p>
</ion-content>

<ion-footer class="ion-no-border">
	<h2 class="ion-text-center">{{"or_continue_with" | translate}}</h2>
	<ion-row>
		<ion-col size="6">
				<ion-button size="large" expand="full" class="btn facebook" (click)="new_orders()">{{'facebook' | translate}}</ion-button>
		</ion-col>
		
		<ion-col size="6">
				<ion-button size="large" expand="full" class="btn google" (click)="new_orders()">{{'google' | translate}}</ion-button>
		</ion-col>
	</ion-row>
</ion-footer>