<!--
<ion-header>
  <ion-toolbar>
    <ion-title>title</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content (click)="dismiss()">

</ion-content>
<ion-footer class="ion-no-border">
	<div class="form">
		<ion-list lines="none">
			<ion-item class="address" lines="none">
				<div class="item_inner d-flex">
					<ion-icon class="zmdi zmdi-pin"></ion-icon>
					<p>1124, Patestine Street, Jackson Tower, Near City Garden, New York, USA</p>
				</div>
			</ion-item>
		</ion-list>
	</div>
	<ion-button size="large" shape="full" class="btn" (click)="dismiss()">{{'save_address' | translate}}</ion-button>
</ion-footer>