<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title> </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="banner">
		<ion-slides pager="true" loop="true">
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/images/item_7.png" class="crop_img">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/images/item_7.png" class="crop_img">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/images/item_7.png" class="crop_img">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/images/item_7.png" class="crop_img">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/images/item_7.png" class="crop_img">
				</div>
			</ion-slide>
		</ion-slides>
	</div>

	<div class="item_details">
		<h2 class="d-flex">{{'ordered_on' | translate}} 24 Jun, 11:40 <span class="end">{{'order_id' | translate}} 224154</span></h2>

		<h1> Fresh Ladies Finger</h1>
		<h3 class="d-flex">{{'item_id' | translate}} TST11414</h3>
		<h4 class="d-flex">
			$32.00
			<span class="end">
				<strong>{{'qty' | translate}}</strong>
				1
			</span>
		</h4>
	</div>

	<div class="shipping_address">
		<h2>{{'shipping_address' | translate}}</h2>

		<div class="address">
			<h3>Samantha Smith</h3>
			<p> 1124, Patestine Street, Jackson Tower, Near City Garden, New York, USA</p>
			
			<p>+1 987 654 3210</p>
		</div>
	</div>
</ion-content>
<ion-footer class="ion-no-border">
	<ion-button size="large" shape="full" class="btn"> {{'redy_dispatch' | translate}} </ion-button>
</ion-footer>
